/server/binaries.zip
/server/binaries
/cmi/target
*.Rhistory
*.ear
*.iml
*.ipr
*.iws
*.log
*.war
.cache
.history
.idea/
.idea_modules/
.lib/
.mtj.tmp/
.mvn/timing.properties
.scala_dependencies
.worksheet
/out/
atlassian-ide-plugin.xml
buildNumber.properties
com_crashlytics_export_strings.xml
crashlytics-build.properties
crashlytics.properties
dependency-reduced-pom.xml
dist/*
hs_err_pid*
lib_managed/
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
pom.xml.versionsBackup
project/boot/
project/plugins/project/
release.properties
src_managed/
target/
server/ml.iml
ingestion-engine/ingestion-engine.iml
ingestion-engine/queueapi.o
ingestion-engine/ingestor
ingestion-engine/libq.so
/algorithms/target/
/etl/target/
/server/target/
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
Session.vim
.netrwhist
*~